@use './../global/variables' as *;

body {
  margin: 0;
}

.clickable {
  cursor: pointer;
}

.highlight {
  background-color: $color-highlight;
  color: rgb(74, 65, 65);
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
